* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: inherit;
}
html,
body {
  margin: 0 auto;
  font-family: "NEXON Lv2 Gothic Light";
  font-size: 62.5%;
  color: #212529;
}
header,
main,
footer {
  width: 100%;
}
.header--wide,
.header--narrow {
  position: fixed;
  top: 0;
}

/* || header || */
.header--wide {
  z-index: 10;
}
.header--narrow {
  z-index: 9;
}
.header--narrow {
  display: none;
}
.nav--wide,
.nav--narrow {
  margin: 0 auto;
  padding: 0 3rem;
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ededebea;
  font-size: 1.7rem;
  font-family: "NanumSquareRound";
  font-weight: 700;
  letter-spacing: 1px;
}
.nav__ul {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 8rem;
  cursor: pointer;
}
.nav__ul li {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__ul li a,
.nav__ul li a:active,
.nav__ul li a:visited {
  text-decoration: none;
  color: #ededebea;
}
.nav-logo {
  width: 20rem;
}
.nav__menu-icon {
  width: 4rem;
}
#nav__hamburger {
  display: none;
  height: auto;
  position: fixed;
  z-index: 11;
  top: 3rem;
  right: 3rem;
  color: #ededebea;
}

/* || hover 했을 때 헤더 */
/* .nav--wide {
  transition: all 0.5s ease-out;
} */
.nav--wide--hover {
  opacity: 1;
  transition: all 0.5s ease-out;
  background-color: #ffffff;
  color: #495057;
}
.nav--wide--hover .nav__ul li a,
.nav--wide--hover .nav__ul li a:active,
.nav--wide--hover .nav__ul li a:visited {
  text-decoration: none;
  color: #495057;
}
.nav--wide--hover .nav__ul li a:hover {
  color: rgb(29, 203, 93);
}
.header--wide__container {
  position: relative;
}
.nav--wide {
  position: relative;
}
.nav__ul .subnav__ul {
  display: none;
}
.nav__ul li:hover .subnav__ul {
  width: 100vw;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  bottom: -5vh;
  height: 5vh;
  background-color: #f1f3f5;
}
.nav__ul li:hover .subnav__ul li a {
  width: 100%;
  padding: 0 10rem;
  border-left: 1px solid #dee2e6;
}
.nav__ul a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
/* subnav */
.subnav__ul li:last-of-type {
  border-right: 1px solid #dee2e6;
}
.subnav__ul li a {
  font-size: 1.5rem;
  color: #868e96;
}
.subnav__ul li a:link,
.subnav__ul li a:visited,
.subnav__ul li a:active {
  text-decoration: none;
}
/* || sidebar */
.sidebar {
  min-height: 100vh;
  padding: 5rem 3rem;
  font-size: 3rem;
  font-family: "NanumSquareRound";
  font-weight: 700;
  color: #495057;
  letter-spacing: 1px;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  transition: 500ms;
}
.sidebar--trans {
  transform: translateX(100vw);
}
.test {
  transform: translateX(0vw);
}
.sidebar__nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  font-size: 2rem;
}
.sidebar__nav__title {
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #868e96;
}
.sidebar__nav__ul {
  padding-top: 1rem;
  display: flex;
}
.sidebar__nav__ul li {
  flex-shrink: 0;
  font-size: 1.5rem;
}
.sidebar__nav__ul a {
  padding: 2rem;
}
.sidebar__nav__container a,
.sidebar__nav__container a:visited,
.sidebar__nav__container a:active,
.sidebar__nav__container a:hover {
  text-decoration: none;
  color: #495057;
}
.sidebar__nav__ul a,
.sidebar__nav__ul a:visited,
.sidebar__nav__ul a:active,
.sidebar__nav__ul a:hover {
  color: #9e9e9e;
  text-decoration: none;
}
/* || main-slider-container || */
.main-slider--overflow {
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.main-slider-wrapper {
  display: flex;
}
.main-slider__container {
  width: 100vw;
}
.main-slider-img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.main-slider__btns {
  clear: both;
  display: flex;
  gap: 2rem;
  position: absolute;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);
}
.main-slider__btn {
  width: 2rem;
  height: 2rem;
  content: "";
  border-radius: 50%;
  box-shadow: inset 0 0 0 1.5px #ededebea;
  cursor: pointer;
}
.btn--selected {
  box-shadow: none;
  background-color: #f8f9fa;
}
/* || feature--container || */
.feature-wrapper {
  padding: 10rem 0;
}
.feature-container {
  display: flex;
  justify-content: center;
  gap: 8rem;
}
.feature__text {
  min-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.feature__text__title {
  font-family: "NEXON Lv2 Gothic Bold";
  font-size: 4rem;
}
.feature__text__p {
  font-family: "NanumSquareRound";
  color: #495057;
  font-size: 2rem;
  letter-spacing: -1px;
  line-height: 2.5rem;
}
.feature__img {
  max-height: 30vh;
}

/* || sub-slider-container */
.sub-slider-title {
  padding: 2rem 0;
  text-align: center;
  font-family: "NEXON Lv2 Gothic Bold";
  color: #343a40;
  font-size: 1.8rem;
}
.sub-slider-title__p {
  font-family: "NanumSquareRound";
  display: inline-block;
  padding: 1rem 2rem;
  box-shadow: 0 1px 0 0 #343a40;
  cursor: pointer;
}
.sub-slider {
  position: relative;
}
.sub-slider-wrapper {
  width: 100%;
  overflow: hidden;
}
.sub-slider__container {
  display: flex;
  width: 200vw;
}
.sub-slider__container__div {
  width: 33.333vw;
}
.sub-slider__img {
  display: block;
  width: 100%;
  max-height: 80vh;
  object-fit: cover;
}
.sub-slider-btns {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}
.sub-slider-btn {
  width: 5rem;
  color: #ffffffd2;
  cursor: pointer;
}
/* || footer || */
.footer--narrow {
  display: none;
}
footer {
  font-family: "NanumSquareRound";
  font-size: 1.5rem;
  letter-spacing: -0.1rem;
  color: #9e9e9e;
  background-color: #f1f3f5;
}
.footer-wrapper {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.footer-text__info {
  display: flex;
  gap: 1rem;
}
.footer img {
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.footer-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer-text__copyright {
  font-family: "NEXON Lv2 Gothic";
  color: #868e96;
  letter-spacing: -1px;
}
.round-div-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 0;
}
.round-div:nth-of-type(2) {
  background-color: #dee2e6;
}
.round-div:nth-of-type(2):hover {
  color: #dee2e6;
  background-color: #868e96;
  border: 3px solid #868e96;
}

/* modal */
body {
  position: relative;
}
.modal-overlay {
  z-index: 10;
  /* display: none; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-overlay__wrapper {
  position: absolute;
  top: 5%;
  right: 10%;
  cursor: pointer;
  font-family: "TmoneyRoundWindRegular";
  font-size: 2rem;
  border: 1px solid #dee2e6;
  background-color: #ffffff;
  color: #495057;
  width: 45rem;
}
.modal-close-div {
  float: right;
}
.modal-container {
  clear: both;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 3rem 0 5rem 0;
}
.modal__title {
  font-size: 3rem;
  font-family: "TmoneyRoundWindExtraBold";
  color: rgb(6, 103, 84);
}
.modal__subtitle {
  font-weight: 700;
}
.modal__info {
  font-size: 1.8rem;
  color: #868e96;
}
.modal-icon {
  font-size: 5rem;
  color: rgb(6, 103, 84);
}
.modal-close-icon {
  width: 3rem;
  color: #868e96;
}
.modal-img {
  width: 100%;
  padding: 2rem 0;
}
.modal__btn {
  letter-spacing: -1px;
  padding: 1rem 3rem;
  color: #ffffff;
  border: none;
  background-color: rgb(6, 103, 84);
}

/* header-hover */
.header--hover--overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
